<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <!--<property name="hibernate.connection.url">jdbc:mysql://bqmayq5x95g1sgr9.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/a5x1k8x693t0vl11?serverTimezone=UTC</property>-->
        <!--<property name="hibernate.connection.username">erx5mtv4j7zwq9ig</property>-->
        <!--<property name="hibernate.connection.password">vdh435czrnhjlijm</property>-->

        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/freight?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">tos</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->

        <mapping class="com.freight.model.Authentication"/>
        <mapping class="com.freight.model.User"/>
        <mapping class="com.freight.model.Identification"/>
        <mapping class="com.freight.model.Company"/>
        <mapping class="com.freight.model.CargoType"/>
        <mapping class="com.freight.model.BulkType"/>
        <mapping class="com.freight.model.ContainerType"/>
        <mapping class="com.freight.model.ShipCargoType"/>
        <mapping class="com.freight.model.Shipment"/>
        <mapping class="com.freight.model.ShipType"/>
        <mapping class="com.freight.model.Ship"/>
        <mapping class="com.freight.model.ShipAgent"/>
        <mapping class="com.freight.model.Incoterms"/>
        <mapping class="com.freight.model.CargoShipment"/>
        <mapping class="com.freight.model.Cargo"/>
        <mapping class="com.freight.model.Contract"/>
        <mapping class="com.freight.model.CargoContract"/>
        <mapping class="com.freight.model.Port"/>
        <mapping class="com.freight.model.Payout"/>
    </session-factory>
</hibernate-configuration>